html, body {
  height: 100vh;
  margin: 0;
  overflow-y: auto;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  color: ghostwhite;
  background-color: rgb(77, 75, 75);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background: 
    linear-gradient(to bottom, black .5%, transparent),
    radial-gradient(circle at center, transparent, black 99%), 
    url("/public/Sci-Fi-Movies.jpg") center center fixed;
}

h1 {
  color: rgb(229, 9, 20);
  letter-spacing: 0;
  text-align: center;
  padding: 2%;
  text-shadow: 1px 1px rgb(0, 0, 0);
  font-size: 350%;
}
